.container#tema_3

    .header-ecored
        h1 3. Esquema de producción audiovisual

    .jumbotron.bg-white
      .row      
        .col-12
          .header-ecored.mt-3
            h2 3.5 Etapa 5: distribución

      .row.mb-5
        .col-12
          p Aunque es la etapa final del proceso, no necesariamente es la última en arrancar, ya que desde el desarrollo se empieza a esbozar el panorama para los procesos de distribución, mercadeo y exhibición; sin embargo, es en este momento donde se ejecutan en su mayor porcentaje, puesto que la distribución final y exhibición requieren irremediablemente del producto terminado.
          p Es una etapa muy importante porque con ella se garantiza que la obra audiovisual tenga difusión y por tanto, que todo el esfuerzo realizado tenga sentido al lograr que el audiovisual llegue al espectador final. En este punto, los perfiles de quienes se involucran en el proceso cambian radicalmente, puesto que son personas que han orientado sus conocimientos hacia la parte de marketing y se encargan de definir las estrategias para alcanzar los objetivos comerciales y de difusión. Algunas de las actividades que se dan en esta etapa son:

      .row.justify-content-center
        .col-12.mb-5
          .accordion#accordionExample
            .card
              .card-header#heading1
                h2.mb-0
                  button.btn.btn-link.pl-0(type="button", data-toggle="collapse",data-target="#collapse1", aria-expanded="true", aria-controls="collapse1")
                    h4.mb-0.collapsable-title.d-flex.align-items-center Campaña de marketing
              .collapse.show#collapse1(aria-labelledby="heading1", data-parent="#accordionExample")
                .card-body
                  p.mb-3 Acá se definen las piezas y estrategias para promover la obra audiovisual y conseguir que sea consumida por el público.

            .card
              .card-header#heading2
                h2.mb-0
                  button.btn.btn-link.collapsed.pl-0(type="button", data-toggle="collapse",data-target="#collapse2", aria-expanded="false", aria-controls="collapse2")
                    h4.mb-0.collapsable-title.d-flex.align-items-center Circuito de festivales
              .collapse#collapse2(aria-labelledby="heading2", data-parent="#accordionExample")
                .card-body
                  p Es importante hacer la búsqueda de posibles festivales en los que sea compatible la proyección de la obra audiovisual, debido que esto ayuda a potenciar la difusión e incrementar su posibilidad de éxito comercial.

            .card
              .card-header#heading3
                h2.mb-0
                  button.btn.btn-link.collapsed.pl-0(type="button", data-toggle="collapse",data-target="#collapse3", aria-expanded="false", aria-controls="collapse3")
                    h4.mb-0.collapsable-title.d-flex.align-items-center Circuito de mercados audiovisuales
              .collapse#collapse3(aria-labelledby="heading3", data-parent="#accordionExample")
                .card-body
                  p Aparte de los festivales, hay un circuito de mercados audiovisuales donde pueden alcanzarse acuerdos de distribución que ayuden a dar más visibilidad a la obra.

            .card
              .card-header#heading4
                h2.mb-0
                  button.btn.btn-link.collapsed.pl-0(type="button", data-toggle="collapse",data-target="#collapse4", aria-expanded="false", aria-controls="collapse4")
                    h4.mb-0.collapsable-title.d-flex.align-items-center Exhibición a prensa
              .collapse#collapse4(aria-labelledby="heading4", data-parent="#accordionExample")
                .card-body
                  p Esto no necesariamente es para todas las piezas audiovisuales, pues generalmente se hace para el cine cuando se ha logrado despertar el interés suficiente para generar estrenos exclusivos para prensa.

            .card
              .card-header#heading5
                h2.mb-0
                  button.btn.btn-link.collapsed.pl-0(type="button", data-toggle="collapse",data-target="#collapse5", aria-expanded="false", aria-controls="collapse5")
                    h4.mb-0.collapsable-title.d-flex.align-items-center Eventos promocionales
              .collapse#collapse5(aria-labelledby="heading5", data-parent="#accordionExample")
                .card-body
                  p Son eventos especiales que pueden ser acciones de marketing, como estrenos anticipados, concursos, funciones especiales, entre otros.

            .card
              .card-header#heading6
                h2.mb-0
                  button.btn.btn-link.collapsed.pl-0(type="button", data-toggle="collapse",data-target="#collapse6", aria-expanded="false", aria-controls="collapse6")
                    h4.mb-0.collapsable-title.d-flex.align-items-center Exhibición
              .collapse#collapse6(aria-labelledby="heading6", data-parent="#accordionExample")
                .card-body
                  p Es el momento en el que la obra se exhibe al público y dependiendo de su naturaleza, puede darse en cine, televisión, redes sociales, plataformas de streaming, etc.

      .row.mt-4        
        .col-12.mb-3
          h3 Conclusión
          p Se puede ver que el proceso de creación audiovisual está compuesto por muchas tareas y requiere gran variedad de talentos y sobre todo mucho esfuerzo y perseverancia, sin importar si se trata de una película con presupuesto multimillonario o un filminuto de un grupo de estudiantes.
        .col-12
          .jumbotron.mb-0           
            p.mb-0 Es importante resaltar que este documento pretende exponer de manera muy general una hoja de ruta del proceso de producción, valiéndose de la división de tareas en 5 grandes etapas y no se constituye en algo que se deba cumplir de manera estricta y lineal, aunque algunas tareas requieren hacerse en orden y tienen dependencias con otras, hay procesos que se pueden solapar, expandir o incluso excluir, acorde a las necesidades del proyecto y la forma en que esto se haga obedece exclusivamente al criterio del grupo de personas que desean desarrollar un proyecto audiovisual.
